body {
  width: 800px;
  background-color: rgb(226, 172, 127);
  text-align: center;
  font-family: verdana;
  margin: 10px auto 10px auto;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-family: Impact;
  font-size: 40px;
}

div#wrap {
  border-style: dashed;
  background-color: rgb(245, 245, 220);
}

div.line {
    border-bottom:  dashed;
}

p {
  text-align: justify;
  padding: 10px 25px 0 25px;
}

p.copyright {
  text-align: center;
  font-size: 70%;
  padding-bottom: 5px;
}

li::first-letter {
  font-size: 150%;
  font-weight: 600;
}

li {
  font-style: italic;
}

ul {
  list-style-type: none;
}
